.UICarouselPaginationAction {
  align-items: center;
  appearance: none;
  border-radius: 1em; /* 16 / 16 = 1 */
  display: flex;
  font-size: 1em; /* 16 / 16 = 1 */
  height: 2em; /* 32 / 16 = 2 */
  justify-content: center;
  line-height: 1; /* 16 / 16 = 1 */
  width: 2em; /* 32 / 16 = 2 */
  transition: opacity 300ms;
}

.UICarouselPaginationAction--disabled {
  opacity: 0.3;
}